{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="">

    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          There was an error with your form...
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}
        <div class="container d-flex justify-content-center align-items-center">
            <img class="top-left-stroke" src="{% static 'images/top_left_stroke.png' %}"  style="z-index:1;"/>
            <img class="atom-right" src="{% static 'images/atom.svg' %}"  style="z-index:1;"/>
            <img class="saturn-left" src="{% static 'images/saturn.svg' %}"  style="z-index:1;"/>
            <img class="rocket-right"  src="{% static 'images/rocket.svg' %}"  style="z-index:1;" />
            <img class="saturn-right" src="{% static 'images/saturn_right.svg' %}" style="z-index:1;" />
            <img class="telescope" src="{% static 'images/telescope.svg' %}"   style="z-index:1;"/>
            <img class="earth-left" src="{% static 'images/earth_left.svg' %}"  style="z-index:1;" />
            <div class="row justify-content-center" style="z-index:3;">
                <div class="">
                    <div class="p-3 py-5 mx-auto">
                        <div class="col-md-12 text-center">
                            <h4 class="text-center"  style="color:#A38D5E;">Register</h4>
                        </div>
                        <form action="{% url 'register_user' %}" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="row">
                                <div class="mx-auto w-90">
                                    <label class="form-label mt-2 " style="color:#A38D5E;">{{field.label}}</label>
                                    {{field}}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="mt-5 text-center"><button class="btn profile-button" type="submit" value="Submit" style="background-color:#C69D0B;">Register</button></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

</div>

{% endblock %}